{% extends 'base.html.twig' %}

{% block title %}Détail ventes{% endblock %}

{% block body %}
    <style>
    </style>
    {% block header %}
        {% include 'header.html.twig' %}
    {% endblock %}
    <div class="container">
        <h1>Liste des ventes de la région {{ region_name }}</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Vendeur</th>
                    <th>Montant</th>
                    <th>Date vente</th>
                </tr>
            </thead>

            <tbody>
                {% for sale in sales %}
                    <tr>
                        <td>{{ sale.code }}</td>
                        <td>{{ sale.montant }}</td>
                        <td>{{ sale.sale_day|date('Y-m-d') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
    </div>
{% endblock %}
