{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <style>
    </style>
    {% block header %}
        {% include 'header.html.twig' %}
    {% endblock %}
    <div class="container">
        <h1>Liste des ventes</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Région</th>
                    <th>Somme ventes</th>
                    <th>Détail</th>
                </tr>
            </thead>

            <tbody>
                {% for report in reports %}
                    <tr>
                        <td>{{ report.Name }}</td>
                        <td>{{ report[1] }}</td>
                        <td>
                        <a href="{{ path('app_detail', {'id': report.id}) }}">Voir détails</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
    </div>
{% endblock %}
