{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<div class="container">
    <h1>Se connecter</h1>

    <form method="POST">
        <div>
            <label>Nom d'utilisateur</label>
            <input type="text" name="username" />
        </div>

        <div>
            <label>Mot de passe</label>
            <input type="password" name="password" />
        </div>

        <div>
            <input type="submit" value="Go !" />
        </div>
    </form>
</div>
{% endblock %}
