{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    <style>
        body {display: flex; height: 100vh; justify-content: center; align-items: center; margin: 0; background-color: #E6E6FA}
        label {text-align: center}
    </style>
    <form action="{{ path('login') }}" method="post">
        {#Token nécéssaire pour sécuriser la faille CSRF#}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {# <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> #}
        <h1 class="h3 mb-3 fw-normal">Veuillez vous connecter</h1>

        <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" name="_username" placeholder="nom@example.com">
        <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating mt-2">
        <input type="password" class="form-control" id="floatingPassword" name="_password" placeholder="mot de passe">
        <label for="floatingPassword">Mot de passe</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary mt-4" type="submit">Connexion</button>
        <div style="display: flex; justify-content: center;">
            <a href="{{ path('app_forgot_password_request') }}" class="mt-2 mb-3 text-muted">mot de passe oublié ?</a>
        </div>
    </form>
{% endblock %}