{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <style>
    </style>
    {% block header %}
        {% include 'header.html.twig' %}
    {% endblock %}
    <h1>User {{ user_email }}</h1>
    
{% endblock %}
